<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Translate</title>
    <link rel="stylesheet" href="globals.css" />
  </head>
  <body>
    trans baby
    <form action="/translate" method="post">
      <input type="text" name="from" placeholder="Translate Trom" required />
      <input type="text" name="to" placeholder="Translate To" required />
      <input type="text" name="text" placeholder="Enter Text" required />
      <button type="submit">Translate</button>
    </form>
  </body>
</html>
